<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <img src="{{ asset('build/images/logo.svg') }}" alt="Logo">

        <nav>
            <ul>
                <li>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </li>
            </ul>
        </nav>

        <main class="main-content">
            <section>
                {% block body %}{% endblock %}
            </section>
            <section>
                <h2>Widgets</h2>
                {% block sidebar %}{% endblock %}
            </section>
        </main>

        <footer>
            {{ render(controller('App\\Controller\\DefaultController::navCategory')) }}
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
