{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <p>
        Catégorie : <a href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.label }}</a>
    </p>

    <ul>
        {% for tag in article.tags %}
            <li>
                <a href="{{ path('tag_show', {'id': tag.id}) }}">
                    {{ tag.label }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3>Commentaires :</h3>

    {{ render(controller('App\\Controller\\CommentController::new', { 'article': article })) }}

    <section>
        {% for comment in comments %}
            <article>
                <em>{{ comment.createdAt|date('d-m-Y h:i:s') }}</em>
                <p>{{ comment.content }}</p>
            </article>
        {% endfor %}
    </section>

    <img src="{{ asset('uploads/' ~ article.picture) }}" alt="">

{% endblock %}
